* {
  box-sizing: border-box;
}

body {
  background-color: #3faae2;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #dbd4af;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  position: sticky;
}

h2 {
  color: #dbd4af;
  margin-top: 30px;
}

img {
  max-height: 150px;
  top: 0;
}

input,
select {
  background-color: #3faae2;
  border: none;
  border-radius: 3px;
  color: #dbd4af;
  font-size: 16px;
  margin-top: 10px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.body-container {
  padding-bottom: 60px;
}

.game {
  align-items: center;
  background-color: #dbd4af;
  border-radius: 10px;
  color: #3faae2;
  display: flex;
  justify-content: space-around;
  margin: 30px 20px;
  padding: 10px;
}

.organise-button,
.game-button {
  background-color: #3faae2;
  border: none;
  border-radius: 5px;
  color: #dbd4af;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.organise-button {
  padding: 10px;
}

.game-button {
  padding: 20px;
}

/* .MuiButtonBase-root-MuiButton-root {
  background-color: #dbd4af;
  color: #3faae2;
  font-weight: 800;
} */

.add-container {
  background-color: #dbd4af;
  align-items: center;
  border-radius: 10px;
  color: #3faae2;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  margin: 30px auto;
  padding: 10px 20px;
  text-align: left;
  max-width: 70vw;
}

.account-container {
  background-color: #dbd4af;
  border-radius: 10px;
  color: #3faae2;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 30px auto;
  padding: 20px 20px;
  text-align: left;
  max-width: 70vw;
}

.account-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}

.account-line {
  background-color: #3faae2;
  height: 1px;
  width: 60vw;
}

.account-detail {
  font-weight: bold;
}

.add-container h2 {
  margin: 0;
}

.form-element {
  margin: 5px;
  padding: 5px;
}

.game-on {
  background-color: #dbd4af;
  border-radius: 10px;
  color: #3faae2;
  font-size: 18px;
  font-weight: bold;
  margin: 30px auto;
  padding: 10px 20px;
  text-align: center;
  max-width: 70vw;
}

/* .bottom-nav {
  background-color: #dbd4af;
} */

.sign-up {
  text-align: center;
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dbd4af;
}
