* {
  box-sizing: border-box;
}

body {
  /* background-color: #f8f653; */
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #74affc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  /* position: sticky; */
}

h2 {
  color: #74affc;
  margin-top: 30px;
}

img {
  max-height: 130px;
  top: 0;
}

input,
select {
  background-color: white;
  border: none;
  border-radius: 3px;
  color: #74affc;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

.body-container {
  padding-bottom: 60px;
}

.game {
  align-items: center;
  background-color: #74affc;
  border-radius: 10px;
  color: white;
  /* color: #f8f653; */
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 30px 20px;
  padding: 10px;
}

.game > * {
  flex: 1;
}

.your-game {
  flex-direction: column;
  gap: 20px;
  max-width: 60vw;
  margin: 30px auto;
  padding: 20px;
}

.game-day {
  background-color: white;
  /* background-color: #f8f653; */
  border-radius: 5px;
  color: #74affc;
  margin-left: 10px;
  padding: 10px;
  font-size: 25px;
}

.organise-button,
.game-button {
  background-color: #f8f653;
  border: none;
  border-radius: 5px;
  color: #74affc;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.organise-button {
  padding: 10px;
}

.game-button {
  margin-right: 10px;
  padding: 20px;
}

/* .MuiButtonBase-root-MuiButton-root {
  background-color: #74AFFC;
  color: #f8f653;
  font-weight: 800;
} */

.add-container {
  background-color: #74affc;
  align-items: center;
  border-radius: 10px;
  color: #f8f653;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  font-size: 20px;
  font-weight: bold;
  margin: 30px auto;
  padding: 40px 20px;
  text-align: left;
  max-width: 40vw;
}

.account-container {
  background-color: #74affc;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 30px auto;
  padding: 20px 20px;
  text-align: left;
  max-width: 60vw;
}

.account-title {
  color: #f8f653;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}

.account-line {
  background-color: #f8f653;
  height: 1px;
  width: 55vw;
}

.account-detail {
  font-weight: bold;
}

.add-container h2 {
  margin: 0;
}

.form-element {
  margin: 5px;
  padding: 5px;
}

.game-on {
  background-color: #74affc;
  border-radius: 10px;
  color: #f8f653;
  font-size: 18px;
  font-weight: bold;
  margin: 30px auto;
  padding: 10px 20px;
  text-align: center;
  max-width: 70vw;
}

.sign-up {
  text-align: center;
}

.your-game-header {
  color: #f8f653;
  font-weight: bold;
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #74affc;
}

@media only screen and (max-width: 500px) {
  .add-container {
    max-width: 80vw;
    padding: 10px 20px;
  }

  .game {
    flex-wrap: wrap;
    gap: 0 30px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .game-day {
    flex-basis: 25%;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 4px;
  }

  .game-time {
    flex-basis: 20%;
  }

  .game-beach {
    flex-basis: 30%;
  }

  .game-spots {
    flex-basis: 25%;
    /* margin-left: 0; */
    margin-top: 5px;
  }

  .game-type {
    flex-basis: 10%;
    margin-top: 5px;
  }

  .game-level {
    flex-basis: 25%;
    margin-top: 5px;
  }

  .game-button,
  .game-full {
    margin-top: 20px;
    padding: 5px;
  }

  .your-game {
    gap: 10px;
    max-width: 80vw;
    padding: 20px;
  }

  .account-container {
    max-width: 70vw;
  }

  img {
    max-height: 110px;
  }
}
